extends layout

block content
    h1 Movies List
    table.table.table-striped
        thead 
            tr
                th Film Adı
                th Yönetmen 
                th Oyuncular        
                th
        tbody 
            each val in movies
                tr
                    td #{val.filmAdi}
                    td #{val.yonetmen}
                    td #{val.oyuncular}        
                    td
                        a.btn.btn-success(href='/movies/edit/'+val._id) Edit
                        a.btn.btn-danger.mx-2(href='/movies/delete/'+val._id) Delete